.btn-menu {
    color: lightgray;
    background-color: hsl(180, 100%, 15%);
  }
  
  /** Evento do botão quando o mouse esta em cima**/
  .btn-menu:hover {
    color: white;
    border-color: teal;
  }

/** Evento do botão quando selecionado **/
.btn-menu:focus, .btn-menu.focus {
    color: lightgray;
    border-color: teal;
    box-shadow: 0 0 0 0.0rem #f8f9fa;
  }
  /** Evento do clique do botão**/
  .btn-menu.disabled, .btn-menu:disabled {
    color: white;
    background-color: teal;
    border-color: teal;
  }
  
  .btn-menu:not(:disabled):not(.disabled):active, .btn-menu:not(:disabled):not(.disabled).active,
  .show > .btn-menu.dropdown-toggle {
    color: lightgray;
    background-color: teal;
    border-color: teal;
  }
  
  .btn-menu:not(:disabled):not(.disabled):active:focus, .btn-menu:not(:disabled):not(.disabled).active:focus,
  .show > .btn-menu.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.0rem darkcyan;
  }