body {
    background-color: teal;
}

main {
    background-color: darkcyan;
    color: darkgray;
}

footer {
    color: lightgray;
    background-color: #00111a;
    padding: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}