header {
    background-color: #004d4d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: hsl(180, 100%, 25%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    color: #f8f9fa;
    background-color: rgb(1, 80, 80);
    padding: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.capa {
    background-color: #004d4d;
    opacity: 90%;
    color: white;
    text-align: center;
}